body{
    background-color: white;
    color: rgb(15, 20, 25);
    margin-top: 1%;
}

.navegacao ul{
    list-style: none;
}

.navegacao li{
    color: rgb(15, 20, 25);
    margin: 5px 0 5px 0;
}

.navegacao li a:hover{
    padding: 5px;
    background-color: rgba(15, 25, 20,0.1);
    border-radius: 100px;
}

.navegacao ul li i, .navegacao ul li a{
    text-decoration: none;
    color: rgb(15, 20, 25);
}

.navegacao ul li button{
    background-color: #1267F8;
    color: white;
    margin-top: 5px;
    padding: 5px 30px 5px 30px;
    border-radius: 100px;
    border: none;

}

.estatisticas{
    color: rgb(83, 100, 113);
}

.estatisticas .numero{
    color: rgb(15, 20, 25);
    font-weight: bold;
}

.estatisticas a:link{
    text-decoration: none;
}

.estatisticas a:hover{
    text-decoration: underline;
}

.publicacoes a{
    color: rgb(15, 20, 25);
    text-decoration: none;
}

.publicacoes .col:hover{
    background-color: rgba(0,0,0,0.03);
}

.acoes a{
    color: rgb(83, 100, 113);
    text-decoration: none;
}

.tzeet .acoes .col{
    text-align: center;
    
}

.acoes .col a[href="#reply"] i:hover,.acoes a[href="#share"] i:hover{
    background-color: rgba(29,155,240,0.1);
    color: rgba(29,155,240,1);
    padding: 5px 5px 5px 5px;
    border-radius: 100%;
}

.acoes .col a[href="#reply"]:hover,.acoes a[href="#share"]:hover{
    color: rgba(29,155,240,1);
}

.acoes a[href="#retzeet"] i:hover{
    background-color: rgba(0,186,124,0.1);
    color: rgba(0,186,124,1);
    padding: 5px 5px 5px 5px;
    border-radius: 100%;
}

.acoes .col a[href="#retzeet"]:hover{
    color: rgba(0,186,124,1);
}

.acoes a[href="#like"] i:hover{
    background-color: rgba(249,24,128,0.1);
    color: rgba(249,24,128,1);
    padding: 5px 5px 5px 5px;
    border-radius: 100%;
}

.acoes .col a[href="#like"]:hover{
    color: rgba(249,24,128,1);
}

.nomeCompleto{
    color: rgb(15, 20, 25);
}

.nomeUsuario{
    color: rgb(83, 100, 113);
}

.biografia{
    color: rgb(15, 20, 25);
}

.informacoes, .informacoes a[href="#localizacao"]{
    margin-top: 10px;
    color: rgb(83, 100, 113);
    text-decoration: none;
}

.tzeet:hover{
    background-color: rgba(0,0,0,0.03);
}

.textoTzeet{
    color: rgb(15, 20, 25);
}

.fotoPerfil{
    width:64 px;
    height:64px;
}

.pesquisa, .pesquisa input {
    padding: 5px;
    border: none;
    border-radius: 100px;
    background-color: rgb(239, 243, 244);
}

.pesquisa input:focus{
    outline: none;
}

.sugestoes{
    margin-top: 5px;
    background-color: rgb(239, 243, 244);
    border-radius: 10px;
}

.sugestoes h5{
    padding-left: 10px;
    margin-top: 10px;
}

.sugestoes .col{
    margin-top: 5px;
    padding-left: 5px;
}

.sugestoes img{
    width: 48px;
    padding-left:5px;
}

.sugestoes input{
    margin-left: 5px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #316CF4;
}

.sugestoes a{
    padding-left: 10px;
}